body {
    background-image: url("bg.jpg");
    background-size: cover;
}


h1,
h3,h4 {
    color: white;
}


th,
td {
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
}


table {
    width: 100%;
    border: 3px rgb(255, 255, 255);
    color: #ffffff;
  }


button {
    display: block;
    padding : 10px 10px;
    margin: 0 auto;
    border: 1px solid black;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #ffffff;
    border: none;
    color: black;
    font-size: 14px;
    font-family:'Montserrat';
    border-radius: 8px;
    transition-duration: 0.2s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} 